{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.note_create'|trans }}
{% endblock %}

{% block body %}
    {{ include('menu.html.twig') }}
    <h2>{{ 'title.note_create'|trans }}</h2>
    {% include 'default/_form.html.twig' with {
        page_title: 'title.note_create'|trans,
        form: form,
        submit_label: 'action.save'|trans,
        back_to_list_path: 'note_index',
    } %}
{% endblock %}